<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Sign Up</h1>
      {{>message}}
      <form action="/users/signUp" method="POST" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" value="{{name}}"
            required>
        </div>
        <div class="form-group">
          <label for="email">*Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="{{email}}"
            required>
        </div>
        <div class="form-group">
          <label for="password">*Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"
            value="{{password}}" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">*Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
            placeholder="Confirm Password" value="{{confirmPassword}}" required>
        </div>
        <button type="submit" class="btn btn-success btn-block">Sign Up</button>
      </form>
      <a class="btn btn-outline-primary mt-1" href="/auth/facebook">Login with Facebook</a>
      <a class="btn btn-outline-info lead mt-4" href="/users/login">Login</a>
    </div>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>